.container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}

.clickText{
    color: #ccc;
    opacity: 0;
}
.emoji-area{
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 1em;
    margin: .3em;
    cursor: pointer;
    border-top: #f3f3f4;
    border-bottom: #f3f3f4;
}

.emoji-area:hover{
    background: #f3f3f4;
}
.emoji-area:hover .clickText{
    opacity: 1;
}

.emoji span{
    padding: .7em;    
}

.noEmoji{
    align-self: center;
    color: red;
}



